# App
APP_ADDRESS=0.0.0.0:3000

# Database
DATABASE_URL=postgres://rust_catalog:local_password@localhost:5432/rust_catalog

# Email
SMTP_URL=smtp://localhost:1025
FRONTEND_URL=http://localhost:5173
MAIL_FROM="Rust Catalog <noreply@example.com>"

# Storage
R2_ACCOUNT_ID=your-clouflare-accoun-id
R2_ACCESS_KEY_ID=your-r2-access-key-id
R2_SECRET_ACCESS_KEY=your-r2-secret-access-key
R2_BUCKET=rust-catalog-images
R2_PUBLIC_BASE_URL=https://pub-your-bucket-id.r2.dev
